@tailwind base;
@tailwind components;
@tailwind utilities;

.student-form-input {
  @apply border border-gray-300 rounded-md p-2 w-full focus:outline-none focus:border-orange;
}

.picture-button {
  @apply border-[1px] border-black rounded-3xl px-4 py-2 cursor-pointer flex justify-center items-center  hover:border-2 shadow-xl;
}
.teste {
  @apply text-white;
}

.box-student {
  h1 {
    @apply text-black font-bold;
  }
}

.form-button {
  @apply bg-orange px-4 py-2 rounded-3xl hover:bg-orange/80 hover:scale-105;
}

.react-datepicker__year-dropdown
  .react-datepicker__year-option:first-child::before {
  content: "\25B2";
  position: absolute;
  top: 3%;
  left: 45%;
  margin: auto;
}

.react-datepicker__year-dropdown::after {
  content: "\25BC";
  display: block;
  position: absolute;
  bottom: 3%;
  left: 45%;
}

.banner-container {
  position: relative;
}

